containerStyle {
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0px 1px 3px 0px;
    background-color: #e5e5e5;
    width: 80%
  }
  
searchStyle {
    margin: 5;
    /* width: 100%; */
    background-color: #FFFFFF;
    width: 100%;
    margin: 10px
  };
  
boxStyle {
    background-color: #FFFFFF;
    padding: 0;
    width: 60%;
    margin: 10px;
    /* inner-height: 50; */
    /* box-shadow: inset 1px 1px 3px 1px */
  };
  
buttonStyle {
    /* width: 10; */
    display: inline;
    margin-top: 10;
    margin-bottom: 20;
    background-color: #227231;
    color: #FFFFFF;
    height:50;
  }